h6 {
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.1s linear;
}
h6:hover {
	color: rgb(247, 0, 21);
}
.sysColor {
	background-color: rgb(0, 185, 218);
	color: white;
}
.sysColor:hover {
	background-color: rgb(2, 156, 184);
}
