<div class="card mb-4 d-flex flex-column justify-content-center" style="width: 25rem; min-height: 18rem; border-color: rgb(29, 38, 58)">
	<div class="d-flex justify-content-center align-items-center p-2">
		<img
			[src]="product.image"
			(click)="sendProductDetails()"
			class="card-img-top m-auto"
			style="width: 200px; height: 200px; object-fit: contain; cursor: pointer"
			[alt]="product.name" />
	</div>
	<div class="card-body">
		<div class="row d-flex flex-row g-0 p-0 align-items-center justify-content-between">
			<div class="col-8 p-0">
				<p class="card-text" *ngIf="alreadyInCart; then tureContent; else falseContent"> </p>
				<ng-template #tureContent><span [innerHtml]="stockHtmlText"></span></ng-template>
				<ng-template #falseContent><span [innerHtml]="stockHtmlText"></span></ng-template>
			</div>
			<div class="col-1 p-0 text-center">
				<fa-icon [ngClass]="inWishlist ? 'wishIcon-selected': 'wishIcon'" (click)="addToWishlist()" [icon]="heartIcon"></fa-icon>
			</div>
		</div>
		<h6 class="card-title my-2" (click)="sendProductDetails()" data-toggle="tooltip" data-placement="top" [title]="product.name">{{
			product.name
		}}</h6>
		<p class="card-text fw-semibold"
			>Price: <span class="badge bg-warning">{{ product.price | currency: '':'EGP':'':'fr' }}</span></p
		>
		<div class="btns row justify-content-around" *ngIf="product.count > 0">
			<button
				class="col-5"
				[ngClass]="alreadyInCart ? 'btn btn-danger' : 'btn btn-secondary'"
				[disabled]="!product.count"
				(click)="alreadyInCart ? removeFromCart() : addToCart()">
				{{ alreadyInCart ? 'Remove from cart' : 'Add to cart' }}
			</button>
			<button class="col-5 btn sysColor" (click)="sendProductDetails()">Details</button>
		</div>
		<div *ngIf="!product.count" class="row justify-content-around">
			<button class="col-10 btn sysColor" (click)="sendProductDetails()">Details</button>
		</div>
	</div>
	<div class="card-footer">
		<small class="text-muted">Production Date: {{ product.createdAt | date: 'MMM / Y' }}</small>
	</div>
</div>

<!-- <p class="card-text" [ngSwitch]="true">
			<span *ngSwitchCase="stockAvaliable(product.count, currPurchase) === 0" class="text-danger fw-bold">Out Of Stock</span>
			<span *ngSwitchCase="stockAvaliable(product.count, currPurchase) === 1" class="text-success fw-bold"
				>In Stock: <span class="text-warning fw-semibold">{{ stockAvaliable(product.count, currPurchase) }}</span>
				<span class="text-danger fw-bold">Last Item</span></span
			>
			<span *ngSwitchCase="stockAvaliable(product.count, currPurchase) < product.count / 2" class="text-success fw-bold"
				>In Stock: <span class="text-warning fw-semibold">{{ stockAvaliable(product.count, currPurchase) }}</span> Items</span
			>
			<span *ngSwitchDefault class="text-success fw-bold"
				>In Stock: <span class="text-info fw-semibold">{{ stockAvaliable(product.count, currPurchase) }}</span> Items</span
			>
		</p> -->
<!-- <p class="card-text" [ngSwitch]="true">
			<span *ngSwitchCase="product.count === currPurchase" class="text-danger fw-bold">Out Of Stock</span>
			<span *ngSwitchCase="product.count - currPurchase === 1" class="text-success fw-bold"
				>In Stock: <span class="text-warning fw-semibold">{{ product.count - currPurchase }}</span>
				<span class="text-danger fw-bold">Last Item</span></span
			>
			<span *ngSwitchCase="product.count - currPurchase < product.count / 2" class="text-success fw-bold"
				>In Stock: <span class="text-warning fw-semibold">{{ product.count - currPurchase }}</span> Items</span
			>
			<span *ngSwitchDefault class="text-success fw-bold"
				>In Stock: <span class="text-info fw-semibold">{{ product.count - currPurchase }}</span> Items</span
			>
</p> -->
