<section class="container m-auto row g-0">
	<div class="col-9 row g-0 justify-content-between">
		<div class="row">
			<div class="col-6" *ngFor="let product of products">
				<app-productcard [product]="product"></app-productcard>
			</div>
		</div>
	</div>
	<div class="wishlist col-3" [ngSwitch]="true">
		<div class="d-flex flex-row align-items-center justify-content-between pe-2">
			<h3 class="sysColor-text text-uppercase fw-bold">Wishlist</h3>
			<p style="color: gold" class="pt-3">{{ wishList.itemsList.length }} Products</p>
		</div>
		<div *ngSwitchCase="wishList.itemsList.length !== 0">
			<div *ngFor="let wishItem of wishList.itemsList">
				<!-- Item-->
				<div class="cart-item d-md-flex justify-content-between"
					><span class="remove-item"
						><fa-icon (click)="removeFromWishlist(wishItem.id)" [icon]="removeIcon" style="color: rgb(57, 57, 57); cursor: pointer"></fa-icon
					></span>
					<div class="px-3 my-3">
						<div class="cart-item-product">
							<div class="cart-item-product-thumb bg-light rounded-4 overflow-hidden"><img [src]="wishItem.image" alt="Product" /></div>
							<div class="cart-item-product-info">
								<h6 class="card-title mt-2" (click)="goToDetails(wishItem.id)" data-toggle="tooltip" data-placement="top" [title]="wishItem.name"
									>{{ wishItem.name.substr(0, 14) }} ...</h6
								>
								<div class="text-lg text-body font-weight-medium pb-1">{{ wishItem.price | currency: '':'EGP':'':'fr' }}</div
								><span
									>Availability: <span class="text-secondary font-weight-bold">{{ wishItem.count }}</span></span
								>
							</div>
						</div>
					</div>
				</div>
				<!-- Item-->
			</div>
		</div>
		<!--Empty List-->
		<div class="d-flex flex-column justify-content-center align-items-center mt-5" *ngSwitchCase="wishList.itemsList.length === 0">
			<h4 style="color: rgb(232, 69, 96); font-style: italic; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"
				>Wishlist is Empty!</h4
			>
		<img src="../../assets/images/empty-wishlist.svg" alt="empty-wishlist">
		</div>
		<!--Empty List-->
	</div>
</section>
